<div class="base-box">
  <div class="row justify-content-center mb-3">
    <h5><strong>本当に退会しますか？</strong></h5>
  </div>
  <div class="justify-content-center">
    <p class="text-center mb-0">退会すると、会員登録情報や</p>
    <p class="text-center mb-0">これまでの購入履歴が閲覧できなくなります。</p>
    <p class="text-center">退会する場合は、「退会する」をクリックしてください。</p>
  </div>

  <div class="col-4 mx-auto">
    <div class="row justify-content-center">
      <div class="mr-2">
        <%= link_to "/customers/infomation/edit" do %>
          <button type="button" class="btn btn-primary"> 退会しない </button>
        <% end %>
      </div>
      <div class="ml-2">
        <%= form_with model: @customer, url: customers_withdraw_path, method: :patch, data: { confirm: '本当に退会しますか？' } do |f| %>
          <%= f.submit " 退会する " ,class:'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>