<div class="container">
  <div class="row col-sm-12">
    <div class="col-sm-4">
      <table class="table table-hover table-inverse">
        <thead>
          <tr align="center">
            <th>ジャンル検索</th>
          </tr>
        </thead>

        <tbody>
          <%# @customers.each do |customer| %>
            <tr>
              <td>
                <%#= link_to  admin_customer_path(customer.id) do %>
                  <%#= customer.name %>
                <%# end %>
              </td>
            </tr>

          <%# end %>
        </tbody>

      </table>

    </div>
    <div class="col-8">
      <div class="row">
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要となります。<br>
        </p>
      </div>
    </div>

    </div>
    <div class="row">
      <h2>新着商品</h2>
    </div>
    
      <% @items.each do |item| %>
      <div class = "container">
         
        <div class = "row">
          <div class="col">
            <%= item.image %>
          </div>
        </div>
        
        <div class = "row">
          <div class="col">
            <%= item.name %>
          </div>
        </div>
        
        <div class = "row">
          <div class="col">
            <%= item.price %>
          </div>
        </div>
        
      </div>
      
      <div class="row justify-content-end">
        <div class="col-5">
          <%= link_to "全ての商品を見る >", "/items" %>
        </div>
      </div>
    </div>