/*↑リセットCSS sanitize.cssをnpm install*/

main {
  margin: 10px;
}

span {
  background-color: lightgray;
  padding: 0px 20px;

}

.base {
  margin-bottom: 0;
}

th,td {
  padding: 10px 30px 10px 5px;
}

.border-bottom {
  border-bottom: solid 1px;
}

th {
  background-color: whitesmoke;
}


.no_border {
  border: none;
  }


table {
  border-collapse: collapse;
}

.customer_list,.item_list, .customer_registration {
  text-decoration: underline;
  background-color: white;
}


select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-bottom: 20px;
	padding: 7px 30px 7px 10px;
	font-size: 93%;
	line-height: 1.1em;
	border-radius: 5px;

	background-repeat: no-repeat;
	background-size: 12px 10px;
	background-position: right 10px center;
	}